:root {
  font-family: Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  color-scheme: only light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */ 
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.only-Print {
  display: none;
}

@media print {
  :root {
    font-size: 12pt;
  }

  h1, h2, h3, h4, h5 {
    margin: 0.4rem;
    padding: 0;
  }

  table {
    margin: 0;
    padding: 0;
  }

  tr {
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
  }

  .no-print {
    display: none;
  }

  .only-Print {
    display: block;
  }
  
}
