:root {
  font-family: Arial, sans-serif;

  color-scheme: only light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  color: #F9B338;
}

.only-Print {
  display: none;
}

.signature-canvas  {
  border: 1px solid black;
}

.signature-image {
  border-bottom: 1px solid black;
}

@media print {
  :root {
    font-size: 10pt;
  }

  h1 { 
    break-before: page; 
  }

  h1, h2, h3, h4, h5 {
    margin: 0.4rem;
    padding: 0;
  }

  table, figure {
    break-inside: avoid;
  }
  table {
    margin: 0;
    padding: 0;
  }

  tr {
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
  }

  .no-print {
    display: none;
  }

  .only-Print {
    display: block;
  }


  
}
