:root {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  color-scheme: only light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-wrap: break-word;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}

ul {
  width: 100%;
  list-style: none;
  padding: 10px 0; 
}

li {
  margin-top: 10px;
}

h1, h2 {
  color: #F9B338;
}

.only-Print {
  display: none;
}

.signature-canvas  {
  border: 1px solid black;
}

.print-per-page {
  page-break-before: always;
}

.print-per-page:first-of-type {
  page-break-before: avoid;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

@media print {
  :root {
    font-size: 12pt;
  }

  h1, h2, h3, h4, h5 {
    
    padding: 0;
  }

  ul {
    margin: 0;
  }

  .no-print {
    display: none;
  }

  .only-Print {
    display: block;
  }
  
  .visible-on-print {
    display: block;
  }
}
